{% extends "base.html" %}
{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages|slice:":1" %}
                {#    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
                <script type="text/javascript">
                    alert("{{message}}");
                </script>
            {% endfor %}
        </ul>

    {% endif %}

    <div class="container-fluid justify-content-center text-center">

        <img class="big_circular_img" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="profile pic"/>

        <h2 class="username_text"><u> {{ user.username }} </u></h2>
    <h4 class="mx-auto" style="margin-top: 3%;">Your Upcoming Events:</h4>
        {% if events %}
            <div class="list-group mx-auto" style="width: 30%; margin-bottom: 3%;">
           {% for event in events %}
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ event.mediaTitle }}</h5>
                        <small> {{ event.eventDate }}</small>
                    </div>
                    <p class="mb-1"> {{ event.description }}</p>
                    <small>{{ event.username }}</small>
                                <a href="/../delete/{{ event.mediaTitle }}/{{ event.description }}" class="btn btn-danger">Delete</a>

                </a>
            {% endfor %}
            </div>
        {% endif %}


        <p class="profile_text"> Interested in:</p>
        <p class="line_text" style="border-style: solid;">{{ profile.interests }} </p>
        <ul class="profile_text" style="list-style-position: inside; border-style: solid;"> Top 5 Favorite Movies:
            <li class="line_text"> 1. {{ profile.firstFavoriteMovie }}</li>
            <li class="line_text"> 2. {{ profile.secondFavoriteMovie }}</li>
            <li class="line_text"> 3. {{ profile.thirdFavoriteMovie }}</li>
            <li class="line_text"> 4. {{ profile.fourthFavoriteMovie }}</li>
            <li class="line_text"> 5. {{ profile.fifthFavoriteMovie }}</li>
        </ul>
        <ul class="profile_text" style="list-style-position: inside; border-style: solid;"> Top 5 Favorite Shows:
            <li class="line_text"> 1. {{ profile.firstFavoriteTVShow }}</li>
            <li class="line_text"> 2. {{ profile.secondFavoriteTVShow }}</li>
            <li class="line_text"> 3. {{ profile.thirdFavoriteTVShow }}</li>
            <li class="line_text"> 4. {{ profile.fourthFavoriteTVShow }}</li>
            <li class="line_text"> 5. {{ profile.fifthFavoriteTVShow }}</li>
        </ul>
        <button type="submit" class="btn btn-primary"><a style="all:unset" href="{% url 'watchingparty:settings' %}">Edit
            Profile?</a></button>
    </div>
{% endblock %}
