{% extends "base.html" %}

{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>

{% block content %}
<body>
<h1>Search Events</h1>

<form action="{% url 'watchingparty:searchResults' %}" method="get">
    <div class="mb-3 col-auto">
        <label>Search a media title or username:</label>
        <input name="q" type="text" placeholder="Search..." class="form-control" required>
    </div>
</form>
</body>
{% endblock %}
</html>
